<script>
  $.backstretch('/assets/foto.jpg');
</script>
<div class="jumbotron">
  <h1>Hola mundo</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum perferendis, cupiditate dicta, perspiciatis sed reprehenderit? Dolorem sequi harum voluptate veniam quibusdam, iure, aperiam eveniet natus, minima consequuntur quos adipisci! Necessitatibus.</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>
<p>
  Los alumnos del curso son <%= @users[0] %>, <%= @users[1] %>, <%= @users[2] %>, <%= @users[3] %>
</p>
